body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom, #ff9a9e, #fad0c4);
  color: #fff;
  text-align: center;
}

.container{
  max-width: 900px;
  margin: auto;
  text-align: center;
  padding: 40px;
}

.container p{
  font-size: 22px;      /* text bada */
  line-height: 1.9;     /* spacing clean */
  color: #333;
}

h1{
  font-size: 48px;      /* big title */
  margin-bottom: 30px;
}

.signature{
  font-size: 24px;
  margin-top: 40px;
  font-style: italic;
}


.music-btn {
  background: rgba(255,255,255,0.25);
  border: 2px solid #fff;
  color: #fff;
  padding: 12px 25px;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  margin: 20px auto;
  display: block;
}

